<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="localhost_DbOtelYeni_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-07T8MF2\MSSQLSERVER01;integrated security=SSPI;initial catalog=DbOtelYeni" /><add name="DbOtelYeniEntities" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KERIM;initial catalog=DbOtelYeni;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
